html{
    font-size: 62.5%;
    font-family: "Abeezee",sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
body{
    background-color: #f0f2f5;
}


/*===========================TRANG CHÍNH CỦA ADMIN ========*/
/*=========================== Header ======================*/
/*================== ĐỊNH DẠNG THANH MENU ===================*/


/* Định dạng thanh điều hướng trên cùng */

.menu {
    width: 100%;        
    background-color: #394551;    
    height: 50px;
}
.body-menu{
    width: 90%;
    margin: 0 auto;
}

.body-menu >li{
    float: left;
    list-style: none;   
    position: relative ;
}
.body-menu>li>a{
    text-decoration: none;
    color: #fff;
    padding: 0px 17px 0px 17px;
    line-height: 50px;
    display: block;       
    font-size: 20px;   
    font-weight:500;
}


/* Thay đổi màu liên kết khi di chuột qua */
.menu li a:hover {
    background-color:#FFD700;
    color: black;
    font-weight: bold
}
.submenu{
    width: 250px;
    background-color: #394551;
    min-height: 140px;
    display: none; 
    position: absolute;
    font-size: 20px;   
    font-weight:500;
}
.submenu li{
    list-style: none;
}
.submenu li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-top: 1px solid rgba(228, 228, 228, 0.678);
    line-height: 50px;
    display: block;
    text-indent: 15px;
}
.body-menu > li:hover .submenu{
    display: block; 
}
.submenu > li > a:hover{
    background-color:#FFD700;
    color:rgb(0, 0, 0);
   
}

/*=====================================================*/
/*======================== CHỈNH LOGO ==================*/

.logo{
    float:left;    
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
}
.logo>img{
    width: 65px;
    height: 40px;    
   
}

/*=================== căn phải phần tử admin=================*/

.nameAdmin{
    position:absolute;
    right: 50px;
    line-height: 50px;
    
    
    
}
.nameAdmin > a{
    color:white ;
    padding: 0px 25px 0px 25px;
    text-decoration: none;
    display: block;
    font-size: 20px;   
    font-weight:500;
}
.submenu_admin{
    width: 250px;
    background-color: #394551;
    min-height: 100px;
    display: none; 
    position: absolute;
    font-size: 20px;   
    font-weight:500;
    list-style: none;
}
.submenu_admin li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-top: 1px solid rgba(228, 228, 228, 0.678);
    line-height: 50px;
    display: block;
    text-indent: 15px;
}
.nameAdmin a:hover
{
    background-color:#FFD700;
    color: black;
    font-weight: bold
}
.nameAdmin:hover .submenu_admin{
    display: block; 
    cursor: pointer;
}
.submenu_admin > li > a:hover{
    background-color:FFD700;
    color:rgb(0, 0, 0);
   
}
/*===========================================================*/
/*===========================================================*/
/*===========================================================*/


/*===================== Css form Đầu sách =======================*/

.table_DauSach{
    width:80%;
    margin: 0 auto;    
}

.table_DauSach > tr >th{
    font-size:15px;
    color:aqua;
}
.header_search{
    display:block;
    width:30%;
    margin:0 auto;
    margin-bottom:50px;
}

/***************************************/
/********** List đầu sách CSS **********/
/***************************************/

.list_DauSach_table {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    border: none;
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    border-radius: 1.5px;
    margin-top: 25px;
}

.table_DauSach {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

    .table_DauSach > thead {
        background-color: #6a6a97;
    }

        .table_DauSach > thead > tr > td {
            font-size: 13px;
            font-weight: bold;
        }

    .table_DauSach td {
        padding: 10px;
    }

tbody > tr {
    border-top: 0.5px solid rgba(105, 105, 105, 0.329);
}

    tbody > tr > td {
        font-size: 12.5px;
    }

.icon_status {
    font-size: 5px;
    color: red;
}

.table_DauSach_status {
    color: red;
    width: 100px;
}

.table_DauSach_btn > a {
    border: 1px solid rgba(0, 0, 0, 0.322);
    outline: none;
    /* background-color: #FFD700; */
    text-decoration: none;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
    color: black;
}

    .table_DauSach_btn > a:hover,
    .table_DauSach_btn > a:active {
        border-style: none;
        background-color: #FFD700;
    }

/* ***** CSS các cột của bảng ***** */
.table_DauSach_MaSach {
    width: 75px;
}

.table_DauSach_SoLuong {
    width: 80px;
}

.table_DauSach_NamXuatBan {
    width: 110px;
}

/*============================================*/
/*============================================*/
/*============================================*/


