@model DoAn1_QLTV_User_.Models.Cart

@{
    ViewBag.Title = "ShowItem";
    Layout = "~/Areas/User/Views/Shared/_LayoutLoginSuccess.cshtml";
}

<h2>ShowItem</h2>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    TenSach
                </th>
                <th>
                    TacGia
                </th>
                <th>
                    TheLoai
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                int soluong = 0;
                soluong += item.numofBook;
            <tr>
                <td>
                    @Html.DisplayFor(model => item.rent_Book.TenSach);
                </td>
                <td>
                    @Html.DisplayFor(model => item.rent_Book.TacGia);
                </td>
                <td>
                    @Html.DisplayFor(model => item.rent_Book.TheLoai);
                </td>
                <td>
                    <img src="@Url.Content(item.rent_Book.HinhAnh)" />
                </td>
            </tr>
            }
        </tbody>
    </table>
}

