USE [master]
GO
/****** Object:  Database [QuanLyThuVien]    Script Date: 05/12/2021 20:27:58 ******/
CREATE DATABASE [QuanLyThuVien] ON  PRIMARY 
( NAME = N'QuanLyThuVien', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QuanLyThuVien.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyThuVien_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QuanLyThuVien_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThuVien]
GO
/****** Object:  Table [dbo].[Account_Admin]    Script Date: 05/12/2021 20:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Admin](
	[MaAccount] [int] IDENTITY(1,1) NOT NULL,
	[User] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Account_Admin] PRIMARY KEY CLUSTERED 
(
	[MaAccount] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account_Admin] ON
INSERT [dbo].[Account_Admin] ([MaAccount], [User], [Password]) VALUES (1, N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[Account_Admin] OFF
/****** Object:  Table [dbo].[TinhTrangSach]    Script Date: 05/12/2021 20:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTrangSach](
	[MaTinhTrangSach] [int] NOT NULL,
	[TenTinhTrangSach] [nvarchar](50) NULL,
 CONSTRAINT [PK_TinhTrangSach] PRIMARY KEY CLUSTERED 
(
	[MaTinhTrangSach] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TinhTrangSach] ([MaTinhTrangSach], [TenTinhTrangSach]) VALUES (1, N'Còn sách')
INSERT [dbo].[TinhTrangSach] ([MaTinhTrangSach], [TenTinhTrangSach]) VALUES (2, N'Cho mượn')
INSERT [dbo].[TinhTrangSach] ([MaTinhTrangSach], [TenTinhTrangSach]) VALUES (3, N'Mất')
/****** Object:  Table [dbo].[TinhTrang_TheTV]    Script Date: 05/12/2021 20:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTrang_TheTV](
	[MaTinhTrang] [int] NOT NULL,
	[TenTinhTrang] [nvarchar](50) NULL,
 CONSTRAINT [PK_TinhTrang_TheTV] PRIMARY KEY CLUSTERED 
(
	[MaTinhTrang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TinhTrang_TheTV] ([MaTinhTrang], [TenTinhTrang]) VALUES (1, N'Block')
INSERT [dbo].[TinhTrang_TheTV] ([MaTinhTrang], [TenTinhTrang]) VALUES (2, N'Active')
INSERT [dbo].[TinhTrang_TheTV] ([MaTinhTrang], [TenTinhTrang]) VALUES (3, N'Đang mượn')
/****** Object:  Table [dbo].[DauSach]    Script Date: 05/12/2021 20:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DauSach](
	[MaDauSach] [int] NOT NULL,
	[TenSach] [nvarchar](max) NULL,
	[TacGia] [nvarchar](50) NULL,
	[TheLoai] [nvarchar](50) NULL,
	[NamXuatBan] [int] NULL,
	[NhaXuatBan] [nvarchar](50) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_DauSach] PRIMARY KEY CLUSTERED 
(
	[MaDauSach] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[DauSach] ([MaDauSach], [TenSach], [TacGia], [TheLoai], [NamXuatBan], [NhaXuatBan], [HinhAnh], [SoLuong]) VALUES (1, N'Đọc Vị Bất Kì Ai', N'David J.Lieberman', N'Tâm Lý - Kỹ Năng sống', 2019, N'Thái Hà', N'~/Content/imgsach/2.jpg', 3)
INSERT [dbo].[DauSach] ([MaDauSach], [TenSach], [TacGia], [TheLoai], [NamXuatBan], [NhaXuatBan], [HinhAnh], [SoLuong]) VALUES (2, N'Sức Mạnh Của Tiềm Thức', N'Joseph Murphy, Ph.D, D.D  ', N'Nghệ thuật sống', 2019, N'NXB Tổng hợp thành phố HCM', N'~/Content/imgsach/3.jpg', 3)
INSERT [dbo].[DauSach] ([MaDauSach], [TenSach], [TacGia], [TheLoai], [NamXuatBan], [NhaXuatBan], [HinhAnh], [SoLuong]) VALUES (3, N'Lược Sử Thời Gian', N'StenPhen W. HawKing', N'Khoa Học - Kỹ Thuật', 2017, N'NXB Tổng hợp thành phố HCM', N'~/Content/imgsach/4.jpg', 1)
/****** Object:  Table [dbo].[DangKyTheTV]    Script Date: 05/12/2021 20:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyTheTV](
	[MaDangKyThe] [int] IDENTITY(1,1) NOT NULL,
	[MaThe] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgayLam] [datetime] NULL,
 CONSTRAINT [PK_DangKyTheTV] PRIMARY KEY CLUSTERED 
(
	[MaDangKyThe] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 05/12/2021 20:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SoKiemSoat] [int] NOT NULL,
	[MaDauSach] [int] NULL,
	[MaTinhTrangSach] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sach] ON
INSERT [dbo].[Sach] ([id], [SoKiemSoat], [MaDauSach], [MaTinhTrangSach], [GhiChu]) VALUES (34, 2, 3, 1, NULL)
INSERT [dbo].[Sach] ([id], [SoKiemSoat], [MaDauSach], [MaTinhTrangSach], [GhiChu]) VALUES (35, 1, 1, 1, NULL)
INSERT [dbo].[Sach] ([id], [SoKiemSoat], [MaDauSach], [MaTinhTrangSach], [GhiChu]) VALUES (36, 2, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Sach] OFF
/****** Object:  Table [dbo].[TheThuVien]    Script Date: 05/12/2021 20:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheThuVien](
	[MaThe] [nvarchar](50) NOT NULL,
	[MaTinhTrang] [int] NULL,
	[Password] [nvarchar](50) NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgayLam] [datetime] NULL,
	[NgayHetHan] [datetime] NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_TheThuVien] PRIMARY KEY CLUSTERED 
(
	[MaThe] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TheThuVien] ([MaThe], [MaTinhTrang], [Password], [HoTen], [NgayLam], [NgayHetHan], [GhiChu]) VALUES (N'18DH110218', 1, N'123', N'Cao Hữu Tài', CAST(0x0000AD1F00000000 AS DateTime), NULL, NULL)
INSERT [dbo].[TheThuVien] ([MaThe], [MaTinhTrang], [Password], [HoTen], [NgayLam], [NgayHetHan], [GhiChu]) VALUES (N'18DH110249', 1, N'123', N'Lê Hoàng Nam', CAST(0x0000AD1F00000000 AS DateTime), NULL, NULL)
INSERT [dbo].[TheThuVien] ([MaThe], [MaTinhTrang], [Password], [HoTen], [NgayLam], [NgayHetHan], [GhiChu]) VALUES (N'18DH110289', 1, N'123', N'Trương Đức Nhật Tây', CAST(0x0000AD1F00000000 AS DateTime), NULL, NULL)
/****** Object:  Table [dbo].[Sach_Dang_Muon]    Script Date: 05/12/2021 20:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach_Dang_Muon](
	[MaSachMuon] [int] IDENTITY(1,1) NOT NULL,
	[MaThe] [nvarchar](50) NULL,
	[MaSach] [int] NULL,
	[NgayMuon] [datetime] NULL,
 CONSTRAINT [PK_Sach_Dang_Muon] PRIMARY KEY CLUSTERED 
(
	[MaSachMuon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sach_Dang_Muon] ON
INSERT [dbo].[Sach_Dang_Muon] ([MaSachMuon], [MaThe], [MaSach], [NgayMuon]) VALUES (8, N'18DH110218', 35, CAST(0x0000AD26014574DD AS DateTime))
INSERT [dbo].[Sach_Dang_Muon] ([MaSachMuon], [MaThe], [MaSach], [NgayMuon]) VALUES (9, N'18DH110249', 36, CAST(0x0000AD2601457635 AS DateTime))
SET IDENTITY_INSERT [dbo].[Sach_Dang_Muon] OFF
/****** Object:  Table [dbo].[DKyMuonSach]    Script Date: 05/12/2021 20:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DKyMuonSach](
	[MaDangKyMuonSach] [int] IDENTITY(1,1) NOT NULL,
	[MaThe] [nvarchar](50) NULL,
	[MaSach] [int] NULL,
 CONSTRAINT [PK_DKyMuonSach] PRIMARY KEY CLUSTERED 
(
	[MaDangKyMuonSach] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DKyMuonSach] ON
INSERT [dbo].[DKyMuonSach] ([MaDangKyMuonSach], [MaThe], [MaSach]) VALUES (9, N'18DH110249', 37)
INSERT [dbo].[DKyMuonSach] ([MaDangKyMuonSach], [MaThe], [MaSach]) VALUES (10, N'18DH110249', 38)
INSERT [dbo].[DKyMuonSach] ([MaDangKyMuonSach], [MaThe], [MaSach]) VALUES (11, N'18DH110289', 39)
SET IDENTITY_INSERT [dbo].[DKyMuonSach] OFF
/****** Object:  Table [dbo].[BaoCaoTraSach]    Script Date: 05/12/2021 20:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoTraSach](
	[id_BaoCaoTraSach] [int] IDENTITY(1,1) NOT NULL,
	[NgayTra] [datetime] NULL,
	[MSSV] [nvarchar](50) NULL,
	[MaSach] [int] NULL,
 CONSTRAINT [PK_BaoCaoTraSach] PRIMARY KEY CLUSTERED 
(
	[id_BaoCaoTraSach] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCaoMuonSach]    Script Date: 05/12/2021 20:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoMuonSach](
	[id_BaoCaoMuonSach] [int] IDENTITY(1,1) NOT NULL,
	[NgayMuon] [datetime] NULL,
	[Mssv] [nvarchar](50) NULL,
	[MaSach] [int] NULL,
 CONSTRAINT [PK_BaoCaoMuonSach] PRIMARY KEY CLUSTERED 
(
	[id_BaoCaoMuonSach] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_Sach_DauSach]    Script Date: 05/12/2021 20:27:59 ******/
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_DauSach] FOREIGN KEY([MaDauSach])
REFERENCES [dbo].[DauSach] ([MaDauSach])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_DauSach]
GO
/****** Object:  ForeignKey [FK_Sach_TinhTrangSach]    Script Date: 05/12/2021 20:27:59 ******/
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TinhTrangSach] FOREIGN KEY([MaTinhTrangSach])
REFERENCES [dbo].[TinhTrangSach] ([MaTinhTrangSach])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TinhTrangSach]
GO
/****** Object:  ForeignKey [FK_TheThuVien_TinhTrang_TheTV]    Script Date: 05/12/2021 20:27:59 ******/
ALTER TABLE [dbo].[TheThuVien]  WITH CHECK ADD  CONSTRAINT [FK_TheThuVien_TinhTrang_TheTV] FOREIGN KEY([MaTinhTrang])
REFERENCES [dbo].[TinhTrang_TheTV] ([MaTinhTrang])
GO
ALTER TABLE [dbo].[TheThuVien] CHECK CONSTRAINT [FK_TheThuVien_TinhTrang_TheTV]
GO
/****** Object:  ForeignKey [FK_Sach_Dang_Muon_Sach]    Script Date: 05/12/2021 20:27:59 ******/
ALTER TABLE [dbo].[Sach_Dang_Muon]  WITH CHECK ADD  CONSTRAINT [FK_Sach_Dang_Muon_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([id])
GO
ALTER TABLE [dbo].[Sach_Dang_Muon] CHECK CONSTRAINT [FK_Sach_Dang_Muon_Sach]
GO
/****** Object:  ForeignKey [FK_Sach_Dang_Muon_TheThuVien]    Script Date: 05/12/2021 20:27:59 ******/
ALTER TABLE [dbo].[Sach_Dang_Muon]  WITH CHECK ADD  CONSTRAINT [FK_Sach_Dang_Muon_TheThuVien] FOREIGN KEY([MaThe])
REFERENCES [dbo].[TheThuVien] ([MaThe])
GO
ALTER TABLE [dbo].[Sach_Dang_Muon] CHECK CONSTRAINT [FK_Sach_Dang_Muon_TheThuVien]
GO
/****** Object:  ForeignKey [FK_DKyMuonSach_Sach]    Script Date: 05/12/2021 20:27:59 ******/
ALTER TABLE [dbo].[DKyMuonSach]  WITH CHECK ADD  CONSTRAINT [FK_DKyMuonSach_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([id])
GO
ALTER TABLE [dbo].[DKyMuonSach] CHECK CONSTRAINT [FK_DKyMuonSach_Sach]
GO
/****** Object:  ForeignKey [FK_DKyMuonSach_TheThuVien]    Script Date: 05/12/2021 20:27:59 ******/
ALTER TABLE [dbo].[DKyMuonSach]  WITH CHECK ADD  CONSTRAINT [FK_DKyMuonSach_TheThuVien] FOREIGN KEY([MaThe])
REFERENCES [dbo].[TheThuVien] ([MaThe])
GO
ALTER TABLE [dbo].[DKyMuonSach] CHECK CONSTRAINT [FK_DKyMuonSach_TheThuVien]
GO
/****** Object:  ForeignKey [FK_BaoCaoTraSach_Sach]    Script Date: 05/12/2021 20:27:59 ******/
ALTER TABLE [dbo].[BaoCaoTraSach]  WITH CHECK ADD  CONSTRAINT [FK_BaoCaoTraSach_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([id])
GO
ALTER TABLE [dbo].[BaoCaoTraSach] CHECK CONSTRAINT [FK_BaoCaoTraSach_Sach]
GO
/****** Object:  ForeignKey [FK_BaoCaoTraSach_TheThuVien]    Script Date: 05/12/2021 20:27:59 ******/
ALTER TABLE [dbo].[BaoCaoTraSach]  WITH CHECK ADD  CONSTRAINT [FK_BaoCaoTraSach_TheThuVien] FOREIGN KEY([MSSV])
REFERENCES [dbo].[TheThuVien] ([MaThe])
GO
ALTER TABLE [dbo].[BaoCaoTraSach] CHECK CONSTRAINT [FK_BaoCaoTraSach_TheThuVien]
GO
/****** Object:  ForeignKey [FK_BaoCaoMuonSach_Sach]    Script Date: 05/12/2021 20:27:59 ******/
ALTER TABLE [dbo].[BaoCaoMuonSach]  WITH CHECK ADD  CONSTRAINT [FK_BaoCaoMuonSach_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([id])
GO
ALTER TABLE [dbo].[BaoCaoMuonSach] CHECK CONSTRAINT [FK_BaoCaoMuonSach_Sach]
GO
/****** Object:  ForeignKey [FK_BaoCaoMuonSach_TheThuVien]    Script Date: 05/12/2021 20:27:59 ******/
ALTER TABLE [dbo].[BaoCaoMuonSach]  WITH CHECK ADD  CONSTRAINT [FK_BaoCaoMuonSach_TheThuVien] FOREIGN KEY([Mssv])
REFERENCES [dbo].[TheThuVien] ([MaThe])
GO
ALTER TABLE [dbo].[BaoCaoMuonSach] CHECK CONSTRAINT [FK_BaoCaoMuonSach_TheThuVien]
GO
