USE [master]
GO
/****** Object:  Database [QuanLyThuVien]    Script Date: 04/05/2021 21:01:46 ******/
CREATE DATABASE [QuanLyThuVien] ON  PRIMARY 
( NAME = N'QuanLyThuVien', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QuanLyThuVien.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyThuVien_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QuanLyThuVien_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThuVien]
GO
/****** Object:  Table [dbo].[TinhTrangSach]    Script Date: 04/05/2021 21:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTrangSach](
	[MaTinhTrangSach] [int] NOT NULL,
	[TenTinhTrangSach] [nvarchar](50) NULL,
 CONSTRAINT [PK_TinhTrangSach] PRIMARY KEY CLUSTERED 
(
	[MaTinhTrangSach] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TinhTrangSach] ([MaTinhTrangSach], [TenTinhTrangSach]) VALUES (1, N'Còn sách')
INSERT [dbo].[TinhTrangSach] ([MaTinhTrangSach], [TenTinhTrangSach]) VALUES (2, N'Cho mượn')
INSERT [dbo].[TinhTrangSach] ([MaTinhTrangSach], [TenTinhTrangSach]) VALUES (3, N'Mất')
/****** Object:  Table [dbo].[TinhTrang_TheTV]    Script Date: 04/05/2021 21:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTrang_TheTV](
	[MaTinhTrang] [int] NOT NULL,
	[TenTinhTrang] [nvarchar](50) NULL,
 CONSTRAINT [PK_TinhTrang_TheTV] PRIMARY KEY CLUSTERED 
(
	[MaTinhTrang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TinhTrang_TheTV] ([MaTinhTrang], [TenTinhTrang]) VALUES (1, N'Block')
INSERT [dbo].[TinhTrang_TheTV] ([MaTinhTrang], [TenTinhTrang]) VALUES (2, N'Active')
INSERT [dbo].[TinhTrang_TheTV] ([MaTinhTrang], [TenTinhTrang]) VALUES (3, N'Đang mượn')
/****** Object:  Table [dbo].[DauSach]    Script Date: 04/05/2021 21:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DauSach](
	[MaDauSach] [int] NOT NULL,
	[TenSach] [nvarchar](50) NULL,
	[TacGia] [nvarchar](50) NULL,
	[TheLoai] [nvarchar](50) NULL,
	[NamXuatBan] [datetime] NULL,
	[NhaXuatBan] [nvarchar](50) NULL,
	[HinhAnh] [nvarchar](50) NULL,
 CONSTRAINT [PK_DauSach] PRIMARY KEY CLUSTERED 
(
	[MaDauSach] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyTheTV]    Script Date: 04/05/2021 21:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyTheTV](
	[MaDangKyThe] [int] IDENTITY(1,1) NOT NULL,
	[MaThe] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgayLam] [datetime] NULL,
 CONSTRAINT [PK_DangKyTheTV] PRIMARY KEY CLUSTERED 
(
	[MaDangKyThe] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account_Admin]    Script Date: 04/05/2021 21:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Admin](
	[MaAccount] [int] IDENTITY(1,1) NOT NULL,
	[User] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Account_Admin] PRIMARY KEY CLUSTERED 
(
	[MaAccount] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account_Admin] ON
INSERT [dbo].[Account_Admin] ([MaAccount], [User], [Password]) VALUES (1, N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[Account_Admin] OFF
/****** Object:  Table [dbo].[Sach]    Script Date: 04/05/2021 21:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[SoKiemSoat] [int] NOT NULL,
	[MaDauSach] [int] NULL,
	[MaTinhTrangSach] [int] NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[SoKiemSoat] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheThuVien]    Script Date: 04/05/2021 21:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheThuVien](
	[MaThe] [nvarchar](50) NOT NULL,
	[MaTinhTrang] [int] NULL,
	[Password] [nvarchar](50) NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgayLam] [datetime] NULL,
	[NgayHetHan] [datetime] NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_TheThuVien] PRIMARY KEY CLUSTERED 
(
	[MaThe] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach_Dang_Muon]    Script Date: 04/05/2021 21:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach_Dang_Muon](
	[MaSachMuon] [int] IDENTITY(1,1) NOT NULL,
	[MaThe] [nvarchar](50) NULL,
	[MaSach] [int] NULL,
	[NgayMuon] [datetime] NULL,
 CONSTRAINT [PK_Sach_Dang_Muon] PRIMARY KEY CLUSTERED 
(
	[MaSachMuon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DKyMuonSach]    Script Date: 04/05/2021 21:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DKyMuonSach](
	[MaDangKyMuonSach] [nchar](10) NOT NULL,
	[MaThe] [nvarchar](50) NULL,
	[MaSach] [int] NULL,
 CONSTRAINT [PK_DKyMuonSach] PRIMARY KEY CLUSTERED 
(
	[MaDangKyMuonSach] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_Sach_DauSach]    Script Date: 04/05/2021 21:01:47 ******/
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_DauSach] FOREIGN KEY([MaDauSach])
REFERENCES [dbo].[DauSach] ([MaDauSach])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_DauSach]
GO
/****** Object:  ForeignKey [FK_Sach_TinhTrangSach]    Script Date: 04/05/2021 21:01:47 ******/
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TinhTrangSach] FOREIGN KEY([MaTinhTrangSach])
REFERENCES [dbo].[TinhTrangSach] ([MaTinhTrangSach])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TinhTrangSach]
GO
/****** Object:  ForeignKey [FK_TheThuVien_TinhTrang_TheTV]    Script Date: 04/05/2021 21:01:47 ******/
ALTER TABLE [dbo].[TheThuVien]  WITH CHECK ADD  CONSTRAINT [FK_TheThuVien_TinhTrang_TheTV] FOREIGN KEY([MaTinhTrang])
REFERENCES [dbo].[TinhTrang_TheTV] ([MaTinhTrang])
GO
ALTER TABLE [dbo].[TheThuVien] CHECK CONSTRAINT [FK_TheThuVien_TinhTrang_TheTV]
GO
/****** Object:  ForeignKey [FK_Sach_Dang_Muon_Sach]    Script Date: 04/05/2021 21:01:47 ******/
ALTER TABLE [dbo].[Sach_Dang_Muon]  WITH CHECK ADD  CONSTRAINT [FK_Sach_Dang_Muon_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([SoKiemSoat])
GO
ALTER TABLE [dbo].[Sach_Dang_Muon] CHECK CONSTRAINT [FK_Sach_Dang_Muon_Sach]
GO
/****** Object:  ForeignKey [FK_Sach_Dang_Muon_TheThuVien]    Script Date: 04/05/2021 21:01:47 ******/
ALTER TABLE [dbo].[Sach_Dang_Muon]  WITH CHECK ADD  CONSTRAINT [FK_Sach_Dang_Muon_TheThuVien] FOREIGN KEY([MaThe])
REFERENCES [dbo].[TheThuVien] ([MaThe])
GO
ALTER TABLE [dbo].[Sach_Dang_Muon] CHECK CONSTRAINT [FK_Sach_Dang_Muon_TheThuVien]
GO
/****** Object:  ForeignKey [FK_DKyMuonSach_Sach]    Script Date: 04/05/2021 21:01:47 ******/
ALTER TABLE [dbo].[DKyMuonSach]  WITH CHECK ADD  CONSTRAINT [FK_DKyMuonSach_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([SoKiemSoat])
GO
ALTER TABLE [dbo].[DKyMuonSach] CHECK CONSTRAINT [FK_DKyMuonSach_Sach]
GO
/****** Object:  ForeignKey [FK_DKyMuonSach_TheThuVien]    Script Date: 04/05/2021 21:01:47 ******/
ALTER TABLE [dbo].[DKyMuonSach]  WITH CHECK ADD  CONSTRAINT [FK_DKyMuonSach_TheThuVien] FOREIGN KEY([MaThe])
REFERENCES [dbo].[TheThuVien] ([MaThe])
GO
ALTER TABLE [dbo].[DKyMuonSach] CHECK CONSTRAINT [FK_DKyMuonSach_TheThuVien]
GO
